img {
  width: 50px;
}
.mail {
  font-weight: bold;
  color: blue;
  margin-right: 10px;
}
.time {
  color: brown;
  margin-right: 10px;
}
.message {
  font-style: italic;
  color: green;
}
.login {
  position: absolute;
  right: 20px;
}